/* styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #eee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerInfo {
    border: 1px solid #ccc;
    padding: 10px;
    width: 600px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

#embeddedBrowser {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}
